<!-- filters.component.html -->

<form
  class="filters"
  [formGroup]="form"
>

  <input
    type="search"
    formControlName="search"
    placeholder="Search incidents..."
  />

  <select formControlName="status">

    <option value="">
      Status
    </option>

    @for(
      status of statuses;
      track status
    ){

    <option [value]="status">
      {{ status }}
    </option>

    }

  </select>

  <select formControlName="severity">

    <option value="">
      Severity
    </option>

    @for(
      severity of severities;
      track severity
    ){

    <option [value]="severity">
      {{ severity }}
    </option>

    }

  </select>

  <select formControlName="service">

    <option value="">
      Service
    </option>

    @for(
      service of services;
      track service
    ){

    <option [value]="service">
      {{ service }}
    </option>

    }

  </select>

</form>